{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}


{% block content %}
<header id="main-navigation">
    <h1><a href="">Soha' Blog</a></h1>
    <nav>
        <a href="">All posts</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Soha - the Author of this blog">
        <h2>Soha's Blog</h2>
    </header>

    <p>Hi, its me soha , i Like to Share with you My information About web Development</p>

</section>

<section id="latest-posts">
    <h2>the latest Posts I have </h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Mounting">
                    <div class="post__content">
                        <h3>Mountin Hiking</h3>
                        <p>Theres nothing Like the views your get when hiking in the mountings! 
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, repellat non delectus
                             quis iure sed blanditiis beatae ratione esse ad!
                        </p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>what i do </h2>
    <p>i love programing and Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aperiam.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio sequi quasi nisi rerum nemo perspiciatis nihil tenetur doloremque dolorum amet!</p>
</section>

    <h1> Welcome to my blog </h1>
{% endblock %}