{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}


{% block content %}

<section id="welcome">
    <header>
        <img src="{%static "blog/images/soha.png"%}" alt="Soha - the Author of this blog">
        <h2>Soha's Blog</h2>
    </header>

    <p>Hi, its me soha , i Like to Share with you My information About web Development</p>

</section>

<section id="latest-posts">
    <h2>the latest Posts I have </h2>
    <ul>
       {% include "blog/includes/post.html"%}
    </ul>
</section>

<section id="about">
    <h2>what i do </h2>
    <p>i love programing and Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aperiam.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio sequi quasi nisi rerum nemo perspiciatis nihil tenetur doloremque dolorum amet!</p>
</section>

    {% comment %} <h1> Welcome to my blog </h1> {% endcomment %}
{% endblock %}